@import "../../styles.scss";
.animate-question-entrance {
    @extend .page-section-entrance;
    animation-delay: 0.5s;
}

.questions-area {
    width: 50%;
    margin: 0 auto;
    opacity: 0;
    padding-left: 1em;
    padding-right: 1.5em;

    margin-bottom: 2em;

    h2 {
        font-size: 1.8rem;
        margin: 0.5em 0;
    }
    .choice {
        @extend .default-border-radius;
        @extend .transition-time;
        margin: 0.5em 0;
        background: color(accent);
        padding: 0.5em;
        font-size: 1.2rem;
        color: black;
        cursor: pointer;
    }
    .selected-choice {
        background: darken($color: color(blue), $amount: 10%);
        transform: translate(1em, 0);
        transition: background 0.6s;
    }
    .choice-hover-effect {
        &:hover {
            background: darken($color: color(accent), $amount: 10%);
            border-left: color(blue) 0.5em solid;
            transform: translate(1em, 0);
        }
    }
    .grayed-out-choice {
        opacity: 0.7;
    }
    .participant-answered-correctly {
        background: color(blue);
    }
    .participant-answered-incorrectly {
        background: color(red);
    }

}

.participants-list {
    position: fixed;
    top: 50%;
    left: 1%;
    transform: translateY(-50%) scale(0.95);
    transform-origin: 0 50%;
    max-width: 13vw;
    max-height: 25vw;
    overflow: hidden auto;
}

.participants-list::-webkit-scrollbar {
    width: 0.65em;
}

.participants-list::-webkit-scrollbar-track,
.participants-list::-webkit-scrollbar-thumb {
    @extend .default-border-radius;
    background: rgba($color: #000000, $alpha: 0.3);
}


$timer-animation-delay: 0.5s;
$timer-total-time: 30s;

.timer, .timer-background {
    @extend .default-border-radius;

    position: fixed;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);

    width: 70vw;
}
.timer-background {
    opacity: 0.3;

    height: 2vh;

    background: black;

    box-shadow: 0 0.1em 1em -0.1em #000;
}

.timer {
    opacity: 1;

    height: 1.9vh;

    background: color(green);

    animation: pulse-animation 2s ease infinite forwards $timer-animation-delay,
    question-countdown-animation ($timer-total-time - $timer-animation-delay) linear forwards $timer-animation-delay;
}

@keyframes pulse-animation {
    50%{
        opacity: 0.8;
    }
}
@keyframes question-countdown-animation {
    50%{
        background: color(blue);
    }
    90%{
        background: color(red);
    }
    100%{
        background: color(red);
        width: 0;
    }
}

