@import "../../styles.scss";

.animate-question-entrance {
  @extend .page-section-entrance;
  animation-delay: 0.5s;
}

.questions-area {
  width: 50%;
  margin: 0 auto;

  opacity: 0;

  padding-left: 1em;
  padding-right: 1.5em;

  h2 {
    font-size: 1.8rem;
    margin: 0.5em 0;
  }
  .choice {
    @extend .transition-time;
    @extend .default-border-radius;

    margin: 0.5em 0;

    background: color(accent);
    padding: 0.5em;

    font-size: 1.2rem;
    color: black;

    cursor: pointer;

    &:hover {
      background: darken($color: color(accent), $amount: 10%);
      border-left: color(blue) 0.5em solid;

      transform: translate(1em, 0);
    }
  }
}
