<h1 class="page-header-entrance">Popular Quizzes</h1>
<div class="card-grid">
  <ng-template [ngIf]="quizzes" [ngIfElse]="quizzesNotLoaded">
    <div *ngFor="let quiz of quizzes" (click)="detailedViewVisible=true; selectedQuiz=quiz" class="card">
      <img src="../../assets/olav-ahrens-rotne-jvBXiynINGE-unsplash.jpg" alt="Quiz image">
      <div class="text-area">
        <h3 class="two-line-text-trim">{{quiz.name}}</h3>
        <p class="three-line-text-trim">{{quiz.description}}</p>
        <p class="tags one-line-text-trim">{{quiz.genres.join(',')}}</p>
      </div>
    </div>
  </ng-template>
  <ng-template #quizzesNotLoaded>
    <div class="card card-loading">
      <img src="../../assets/olav-ahrens-rotne-jvBXiynINGE-unsplash.jpg" alt="Quiz image">
      <div class="text-area">
        <h3>Loading Quizzes</h3>
        <p>Loading Quizzes...</p>
        <p>Loading Quizzes...</p>
      </div>
    </div>
  </ng-template>
</div>

<div [style.display]="this.detailedViewVisible ? 'flex' : 'none'" (click)="detailedViewVisible=false"
  class="black-overlay">
  <div *ngIf="selectedQuiz" (click)="$event.stopPropagation()" class="overlay-background">
    <div class="first-Col">
      <img src="../../assets/olav-ahrens-rotne-jvBXiynINGE-unsplash.jpg" alt="Quiz image">
      <p title="{{selectedQuiz.author}}"><i class="material-icons">create</i>{{selectedQuiz.author}}</p>
      <p title="Created On"><i class="material-icons">calendar_today</i> {{selectedQuiz.createdOn.substring(0, 10)}}</p>
      <p title="Number Of Questions"><span class="hash"> # </span> Questions <span
          class="stat-highlight">{{selectedQuiz.questions.length}}</span></p>
      <p title="Times Answered"><span class="hash"> # </span> Answers <span
          class="stat-highlight">{{selectedQuiz.timesAnswered}}</span></p>
    </div>
    <div class="second-Col">
      <h3>{{selectedQuiz.name}}</h3>
      <p class="description">{{selectedQuiz.description}}</p>
      <p class="genres">{{selectedQuiz.genres.join(', ')}}</p>
      <a class="create-room-button" (click)="openQuizWaitingRoom()">Create Room</a>
    </div>
  </div>
</div>
