@import "../../styles.scss";

.card-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  margin: 1em auto;
  width: 95%;
}
.card {
  color: white;
  cursor: pointer;
  img {
    max-width: 100%;
    height: auto;
  }
  .text-area {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 0.5em;
    h3 {
      margin: 0.1em auto;

      font-size: 1.5rem;
      text-transform: capitalize;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    p {
      margin: 0 auto;

      font-size: 0.9rem;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
    .tags {
      margin-top: 0.35em;

      font-size: 0.8rem;
      font-family: "Roboto Mono", sans-serif;
      color: color(accent);

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
  }
  &:hover {
    background: darken($color: color(blue), $amount: 10%);
  }
}
