@import "../../styles.scss";

.card-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  margin: 1em auto;
  width: 95%;
}
.card {
  color: white;
  cursor: pointer;
  img {
    max-width: 100%;
    height: auto;
  }
  .text-area {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 0.5em;
    h3 {
      font-size: 1.5rem;
      margin: 0.1em auto;
      text-transform: capitalize;
    }
    p {
      font-size: 0.9rem;
      margin: 0 auto;
      text-overflow: ellipsis;
      max-width: 75ch;
      overflow: hidden;
    }
    .tags {
      font-family: "Roboto Mono", sans-serif;
      color: color(accent);
    }
  }
  &:hover{
      background: darken($color: color(blue), $amount: 10%);
  }
}
