<h1>Popular Quizzes</h1>
<div class="card-grid">
  <div class="card">
    <img src="../../assets/olav-ahrens-rotne-jvBXiynINGE-unsplash.jpg" alt="">
    <div class="text-area">
      <h3>Quiz Title</h3>
      <p>Some Description Some Description Some Description 1 Some Description 1 Some Description 1 Some Description 1 Some Description 1</p>
      <p class="tags">Tag1, Tag2, Tag3, ...</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/olav-ahrens-rotne-jvBXiynINGE-unsplash.jpg" alt="">
    <div class="text-area">
      <h3>Quiz Title</h3>
      <p>Some Description Some Description Some Description 1 Some Description 1 Some Description 1 Some Description 1 Some Description 1</p>
      <p class="tags">Tag1, Tag2, Tag3, ...</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/olav-ahrens-rotne-jvBXiynINGE-unsplash.jpg" alt="">
    <div class="text-area">
      <h3>Quiz Title</h3>
      <p>Some Description Some Description Some Description 1 Some Description 1 Some Description 1 Some Description 1 Some Description 1</p>
      <p class="tags">Tag1, Tag2, Tag3, ...</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/olav-ahrens-rotne-jvBXiynINGE-unsplash.jpg" alt="">
    <div class="text-area">
      <h3>Quiz Title</h3>
      <p>Some Description Some Description Some Description 1 Some Description 1 Some Description 1 Some Description 1 Some Description 1</p>
      <p class="tags">Tag1, Tag2, Tag3, ...</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/olav-ahrens-rotne-jvBXiynINGE-unsplash.jpg" alt="">
    <div class="text-area">
      <h3>Quiz Title</h3>
      <p>Some Description Some Description Some Description 1 Some Description 1 Some Description 1 Some Description 1 Some Description 1</p>
      <p class="tags">Tag1, Tag2, Tag3, ...</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/olav-ahrens-rotne-jvBXiynINGE-unsplash.jpg" alt="">
    <div class="text-area">
      <h3>Quiz Title</h3>
      <p>Some Description Some Description Some Description 1 Some Description 1 Some Description 1 Some Description 1 Some Description 1</p>
      <p class="tags">Tag1, Tag2, Tag3, ...</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/olav-ahrens-rotne-jvBXiynINGE-unsplash.jpg" alt="">
    <div class="text-area">
      <h3>Quiz Title</h3>
      <p>Some Description Some Description Some Description 1 Some Description 1 Some Description 1 Some Description 1 Some Description 1</p>
      <p class="tags">Tag1, Tag2, Tag3, ...</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/olav-ahrens-rotne-jvBXiynINGE-unsplash.jpg" alt="">
    <div class="text-area">
      <h3>Quiz Title</h3>
      <p>Some Description Some Description Some Description 1 Some Description 1 Some Description 1 Some Description 1 Some Description 1</p>
      <p class="tags">Tag1, Tag2, Tag3, ...</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/olav-ahrens-rotne-jvBXiynINGE-unsplash.jpg" alt="">
    <div class="text-area">
      <h3>Quiz Title</h3>
      <p>Some Description Some Description Some Description 1 Some Description 1 Some Description 1 Some Description 1 Some Description 1</p>
      <p class="tags">Tag1, Tag2, Tag3, ...</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/olav-ahrens-rotne-jvBXiynINGE-unsplash.jpg" alt="">
    <div class="text-area">
      <h3>Quiz Title</h3>
      <p>Some Description Some Description Some Description 1 Some Description 1 Some Description 1 Some Description 1 Some Description 1</p>
      <p class="tags">Tag1, Tag2, Tag3, ...</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/olav-ahrens-rotne-jvBXiynINGE-unsplash.jpg" alt="">
    <div class="text-area">
      <h3>Quiz Title</h3>
      <p>Some Description Some Description Some Description 1 Some Description 1 Some Description 1 Some Description 1 Some Description 1</p>
      <p class="tags">Tag1, Tag2, Tag3, ...</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/olav-ahrens-rotne-jvBXiynINGE-unsplash.jpg" alt="">
    <div class="text-area">
      <h3>Quiz Title</h3>
      <p>Some Description Some Description Some Description 1 Some Description 1 Some Description 1 Some Description 1 Some Description 1</p>
      <p class="tags">Tag1, Tag2, Tag3, ...</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/olav-ahrens-rotne-jvBXiynINGE-unsplash.jpg" alt="">
    <div class="text-area">
      <h3>Quiz Title</h3>
      <p>Some Description Some Description Some Description 1 Some Description 1 Some Description 1 Some Description 1 Some Description 1</p>
      <p class="tags">Tag1, Tag2, Tag3, ...</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/olav-ahrens-rotne-jvBXiynINGE-unsplash.jpg" alt="">
    <div class="text-area">
      <h3>Quiz Title</h3>
      <p>Some Description Some Description Some Description 1 Some Description 1 Some Description 1 Some Description 1 Some Description 1</p>
      <p class="tags">Tag1, Tag2, Tag3, ...</p>
    </div>
  </div>
</div>
