<div class="main-wrapper">

  <header>
    <div class="container header-content">
      <div class="logo">
        <img src="../assets/MasterQuizLogo_1.png" alt="Logo">
        <a href="#" routerLink='/'> Master <span class="logo-quiz">Quiz</span></a>
      </div>
      <div class="searchBar">
        <span class="searchbar-text"> search for something specific ?</span>
        <img class="searchbar-icon" src="../assets/ic_search_white_72pt_3x.png" alt="Searchbar Icon">
      </div>
      <nav>
        <ul>
          <li><a href="#" routerLink='/popular' routerLinkActive="active-route">Popular</a></li>
          <li><a href="#" routerLink='/genres' routerLinkActive="active-route">Genres</a></li>
        </ul>
      </nav>
      <div class="account-icon-section">
        <img class="account-icon" src="../assets/user-circle.svg" alt="Account Icon">
        <span>Guest</span>
      </div>
    </div>
  </header>

  <div class="main-content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer>
    <p class="made-by">
      Made by Ramez Noshy & Mohamed Said Sallam
    </p>
    <p class="source-link">
      Check out the source code for
      <a href="https://github.com/TheDigitalPhoenixX/MasterQuiz-Frontend" target="_blank">
        Frontend</a>
      &
      <a href="https://github.com/rameziophobia/masterquiz-backend" target="_blank"> Backend</a>
      <img src="../assets/GitHub-Mark-Light-32px.png" alt="GithubIcon">
    </p>
  </footer>

</div>
