@import "../../styles.scss";


.genres-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}
.grid-item {
  cursor: pointer;
  background: color(accent);
  padding: 1em;
  &:hover {
    // background: darken($color: color(accent), $amount: 20%);
    border-left: color(blue) 0.5em solid;
  }
}
