@import "../../styles.scss";

.genres-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;

  width: 95%;
  margin: 0 auto;
}
.grid-item {
  @extend .transition-time;
  @extend .default-border-radius;

  background: color(accent);
  padding: 0.7em 1em 0.3em 1em;

  border-bottom: transparent 0.5em solid;

  span {
    font-size: 1rem;
    text-transform: capitalize;
    color: black;
  }
}

.grid-item-hover {
  cursor: pointer;

  &:hover {
    background: darken($color: color(accent), $amount: 8%);
    border-color: color(blue);
    transform: translateY(-0.5em);
  }
}

.loading-genre {
  transition: none;
  animation: loading-animation 1.5s infinite ease-in-out;
}
@keyframes loading-animation {
  50% {
    opacity: 0.5;
  }
}
