$colors: (
  primary: rgba(94, 76, 138, 1),
  primary-light: lighten(rgba(94, 76, 138, 1), 40%),
  primary-dark: darken(rgba(94, 76, 138, 1), 10%),
  accent: rgba(209, 204, 220, 1),
  red: rgba(232, 72, 85, 1),
  green: rgba(107, 139, 45, 1),
  blue: rgba(65, 211, 189, 1),
);

$border-radius: 0.2em;
$transition-time: 0.19s;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  background: color(primary);
  color: white;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
}

.black-background {
  @extend .default-border-radius;
  padding: 0.5em;
  background: rgba($color: #000000, $alpha: 0.2);
}

.stat-highlight {
  color: color(blue);
  font-style: italic;
}

.x-line-text-trim {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.one-line-text-trim {
  @extend .x-line-text-trim;
  -webkit-line-clamp: 1;
}
.two-line-text-trim {
  @extend .x-line-text-trim;
  -webkit-line-clamp: 2;
}
.three-line-text-trim {
  @extend .x-line-text-trim;
  -webkit-line-clamp: 3;
}

.material-icons {
  user-select: none;
}

.transition-time {
  transition: $transition-time;
}
.default-border-radius {
  border-radius: $border-radius;
}

.link-button {
  @extend .transition-time;
  @extend .default-border-radius;

  background-color: color(accent);

  text-decoration: none;
  padding: 1em;

  font-size: 1rem;
  font-weight: 600;
  color: black;

  cursor: pointer;

  &:hover {
    background: darken($color: color(accent), $amount: 10%);
  }
}

@keyframes loading-animation {
  50% {
    opacity: 0.4;
  }
}

.page-header-entrance {
  opacity: 0;
  animation: page-header-entrance-animation 0.35s forwards ease;
}
@keyframes page-header-entrance-animation{
  0%{
    transform: translateX(-0.2em);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
.page-section-entrance {
  animation: page-section-entrance-animation 0.5s forwards ease;
}
@keyframes page-section-entrance-animation {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1em);
    opacity: 1;
  }
}