@import "../../styles.scss";

.home-container {
  width: 90%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  gap: 0.3em;

  margin-top: 30vh;
}

$entrance-animation-time: 0.6s;
$button-entrance-animation-time: 1s;
$entrance-animation-timing-function: ease-in-out;

$jump-text-animation-time: 7s;
$jump-text-animation-timing-function: ease;

h1 {
  font-size: 4rem;
  margin: 0.5em auto;
  margin-top: 0;

  span {
    display: inline-block;
  }
  .fun {
    color: color(blue);

    animation: text-jump $jump-text-animation-time 3.5s forwards infinite
      $jump-text-animation-timing-function;
  }
  .quizzes {
    color: color(accent);

    animation: text-jump $jump-text-animation-time 4s forwards infinite
      $jump-text-animation-timing-function;
  }
  .friends {
    color: color(green);

    animation: text-jump $jump-text-animation-time 4.5s forwards infinite
      $jump-text-animation-timing-function;
  }

  animation: header-entrance $entrance-animation-time forwards
    $entrance-animation-timing-function;
}

@keyframes text-jump {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(-0.3em);
  }
  10% {
    transform: translateY(0);
  }
}
@keyframes header-entrance {
  0% {
    transform: translateX(-0.75em);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.subsection {
  margin-left: 1em;

  p {
    font-size: 1.5rem;
    font-weight: 500;
    .realtime {
      color: color(green);
    }

    cursor: default;

    animation: subtext-entrance $entrance-animation-time forwards
      $entrance-animation-timing-function;
  }
  .call-to-action {
    @extend .link-button;

    transition-property: background;

    animation: button-entrance $button-entrance-animation-time forwards $entrance-animation-timing-function;
  }
}

@keyframes subtext-entrance {
  0% {
    transform: translateY(-0.75em);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes button-entrance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
