@import "../../styles.scss";

.scores {
  text-align: center;

  margin: 5em 0;

  .user-score {
    margin: 0 auto;
    margin-bottom: 3em;

    text-align: left;
    font-weight: 700;

    td {
      font-size: 2.5rem;
      margin: 0;
    }
    .score-second-col {
      padding-left: 1em;
    }
  }
  .top-three-list {
    display: grid;
    grid-template-columns: 5fr repeat(2, 3fr);
    column-gap: 1em;

    padding: 0;
    margin: 0;
    .top-three {
      list-style-type: none;

      display: flex;
      align-items: center;

      .top-three-text {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        .top-three-position {
          font-size: 1.5rem;
        }
        .top-three-score {
          font-size: 0.9rem;
        }
      }
    }
  }
}

.trophy,
.client-trophy {
  font-size: 3.5rem;
}
.client-trophy {
  vertical-align: middle;
}
.gold-trophy {
  color: rgba($color: gold, $alpha: 1);
}
.silver-trophy {
  color: rgba($color: silver, $alpha: 1);
}
.bronze-trophy {
  color: rgba($color: #cd7f32, $alpha: 1);
}
.iron-trophy {
  color: rgba($color: #cbcdcd, $alpha: 1);
}

.scores-remaining-list {
  width: 50%;
  margin: 1em auto;

  list-style-type: none;

  .remaining-list-entry {
    display: flex;
    gap: 0.5em;

    padding: 0.3em;

    align-items: center;

    .remaining-participant-position {
      font-size: 1.5rem;
    }

    .remaining-participant-name {
      text-align: left;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
    .remaining-participant-score {
      margin-left: auto;
    }

    &:hover {
      background: darken($color: color(primary-dark), $amount: 10%);
    }
  }
}

