@import "../../styles.scss";

$section-entrance-animation-base-delay: 0.2s;
$section-entrance-animation-delay-increment: 0.5s;

.container {
  display: flex;
  max-width: 100%;
  gap: 1em;
  margin-bottom: 1.5em;
}

h2 {
  margin-top: 0;

  cursor: default;
}

.invitation-code-area {
  margin-top: 1em;
}

.invitation-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;

  .inv-code-text {
    color: color(blue);

    cursor: default;
  }
}
.copy-inv-icon {
  @extend .transition-time;
  @extend .default-border-radius;

  cursor: pointer;

  display: inline-block;

  &:hover {
    background: rgba($color: color(accent), $alpha: 0.5);
  }
}

.participants-area {
  flex: 1 2 auto;

  opacity: 0;
  @extend .page-section-entrance;
  animation-delay: $section-entrance-animation-base-delay;
}

.info-area {
  flex: 2 1 auto;

  @extend .page-section-entrance;
  opacity: 0;
  animation-delay: $section-entrance-animation-base-delay +
    $section-entrance-animation-delay-increment;
}

.info-background {
  display: flex;
  flex-direction: column;
  gap: 1em;
  img {
    @extend .default-border-radius;

    max-width: 100%;
  }
  p {
    margin: 0;

    cursor: default;
  }
  h3 {
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0.2em;

    cursor: default;
  }
  .description {
    font-size: 1.5rem;
    text-align: justify;
    padding-right: 1em;
    margin: 0;
    max-height: 55vh;
    overflow-y: auto;
  }
  .genres {
    font-style: italic;
    color: lightgray;
    font-size: 1rem;
  }
  .stat-highlight {
    color: color(blue);
  }
  .hash {
    font-size: 2rem;
    vertical-align: middle;
  }
  .start-button {
    @extend .link-button;

    margin-top: 2em;
    padding: 0.5em;
    font-size: 1.3rem;
    font-weight: 700;
  }
  .extra-details {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    p {
      vertical-align: middle;
    }
  }
}

.chat-area {
  flex: 2 1 auto;
  .tempChat {
    width: 20vw;
    height: 55vh;
    background: pink;
  }

  opacity: 0;
  @extend .page-section-entrance;
  animation-delay: $section-entrance-animation-base-delay +
    (2 * $section-entrance-animation-delay-increment);
}

.countdown {
  position: fixed;
  bottom: 0;
  left: 0;

  margin: 0 0 2.1em 0.75em;

  text-align: center;
  font-family: "Roboto Mono", sans-serif;

  span {
    cursor: default;
  }

  .starting-in {
    font-weight: 300;
    font-size: 0.8rem;
  }
  .countdown-time {
    display: block;
    font-size: 5rem;

    animation: countdown-animation 1s ease forwards;
  }
  animation: countdown-entrance 0.75s ease forwards;
}

@keyframes countdown-entrance {
  0%{
    opacity: 0;
    transform: translateY(1.5em);
  }
  100%{
    opacity: 1;
  }
}

@keyframes countdown-animation{
  0%{
    transform: scale(1.4);
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 0.3;
  }
}

.floating-ready-button-area {
  @extend .black-background;

  position: fixed;
  bottom: 0;
  right: 0;

  margin: 0 0 2.1em 0.75em;


  display: flex;
  flex-direction: column;
  gap: 0.5em;

  .floating-ready-button{
    @extend .link-button;

    text-align: center;
  }

  p {
    margin: 0;
    font-family: "Roboto Mono", sans-serif;
    font-style: italic;
  }

  .floating-ready-title {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .floating-ready-subtitle{
    font-size: 0.55rem;
    font-weight: 400;
  }

}