<h1 class="page-header-entrance">Waiting Room</h1>
<div class="container">
    <div class="participants-area">
        <h2>PARTICIPANTS</h2>
        <app-participants-side-list [participants]="participants"></app-participants-side-list>
        <div class="invitation-code-area">
            <h2>Invitation Code</h2>
            <div class="black-background invitation-link">
                <span class="inv-code-text">
                    {{invitationCode}}
                </span>
                <div title="Copy Invitation URL" class="copy-inv-icon">
                    <span class="material-icons">content_copy</span>
                </div>
            </div>
        </div>
    </div>
    <div class="info-area">
        <h2>QUIZ INFO</h2>
        <div class="info-background black-background">
            <ng-template [ngIf]="quiz" [ngIfElse]="quizLoading">
                <img src="../../assets/olav-ahrens-rotne-jvBXiynINGE-unsplash.jpg" alt="Quiz image">
                <h3>{{quiz.name}}</h3>
                <p class="description">{{quiz.description}}</p>
                <p class="genres">{{quiz.genres.join(', ')}}</p>
                <div class="extra-details">
                    <p title="{{quiz.author}}"><i class="material-icons">create</i>{{quiz.author}}</p>
                    <p title="Created On"><i class="material-icons">calendar_today</i> {{quiz.createdOn.substring(0, 10)}}</p>
                    <p title="Number Of Questions"><span class="hash"> # </span> Questions <span class="stat-highlight">{{quiz.questions.length}}</span></p>
                    <p title="Times Answered"><span class="hash"> # </span> Answers <span class="stat-highlight">{{quiz.timesAnswered}}</span></p>
                </div>
                <a class="start-button" (click)="toggleReady()"
                  [style.color]="thisParticipant.isReady ? 'dimgray' : ''">
                  {{thisParticipant.isReady ?
                    (isCountdownShown ? 'STARTING...' : 'WAITING FOR OTHERS.. (click to un-ready)')
                    : 'READY'}}
                </a>
            </ng-template>
            <ng-template #quizLoading>
                <img src="../../assets/olav-ahrens-rotne-jvBXiynINGE-unsplash.jpg" alt="Quiz image">
                <h3>Loading Quiz...</h3>
            </ng-template>
        </div>
    </div>
    <div class="chat-area">
        <h2>CHAT</h2>
        <div class="black-background">
            <div class="tempChat"></div>
        </div>
    </div>
</div>
<div [style.display]="isCountdownShown ? 'block':'none'" class="black-background countdown">
  <span class="starting-in">Starting in..</span>
  <span [style.animation]="isCountdownTimeShown ? '':'none'" class="countdown-time">{{countdown}}</span>
</div>